.headerContainer {
    background: var(--white);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray-100);

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
        margin-right: auto;
    }

    button { /*Button Toggle Dark Mode*/
        width: 100px;
        height: 40px;
        background-color: var(--purple-800);
        border: 1px solid var(--purple-800);
        border-radius: 10px;
        color: var(--white);
        font-size: 0.875rem;
        cursor:pointer;

        margin-left: auto;

        &[data-dark-mode='true'] {
            background-color: var(--white);
            color: var(--purple-800);
        }

    }

}